/* Обнуление стилей */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    min-height: 100vh;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #FAFAFA;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* Начало css кода */

body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: white;
    font-family: 'Lato', sans-serif;
    background: url("../img/background.png") no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}


.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background: linear-gradient(180deg, #180F30 0%, rgba(31, 15, 48, 0.38) 100%);
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

.header__logo{
    margin-left: 50px;
}

.header__user {
    margin-left: 250px;
    justify-self: flex-end;
}

.header__menu {
    margin-left: 133px;
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__list li {
    margin-right: 64px;
}

.menu__list li:last-child {
    margin-right: 0;
}

.menu__link {
    color:#5A72B0;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    letter-spacing: 0.2px;
    font-size: 16px;
}

.menu__link:hover{
    color: #fff;
}

.page{
    flex: 1 1 auto;
}

.main-block {
    width: 100%;    position: relative;
}

.main-block__body {
    padding: 140px 0 191px 0;
    position: relative;
    z-index: 2;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-block__title{
    font-family: 'Krona One', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 40px;
    font-size: 40px;
    line-height: 50px;
    margin: 10px 0 30px 50px;
    background: url("../img/title.png") 0 0 no-repeat;
}

.button-add{
    margin-right: 85px;
    height: 58px;
    background: url("../img/new.png") 0 0 no-repeat;
    
}

.button__container{
    margin: 20px 32px;
}

.button__flex{
    display: flex;
    align-items: center;
}

.button__img{
    margin-right: 14px;
}

.button-add:hover .button__text{
    color: #9fb0dd;
}


.slider__link p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #06046C;
    padding-left: 10px;
}

.slick-list{
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider{
    position: relative;
    padding: 0 50px;
}

.slick-arrow{
    position: absolute;
    top: 40%;
    z-index: 5;
    font-size: 0;
    width: 34px;
    height: 34px;
}

.slick-arrow.slick-prev{
    left: 0;
    background: url("../img/arrow-left.png") 0 0 no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    right: 0;
    background: url("../img/arrow-right.png") 0 0 no-repeat;
}

.track__buttons { 
    position: absolute;
    top: 40%;
    left: 0;
    width: 175px;
    display: none;
}

.img{
    max-width: 195px;
    position: relative;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-div{
    width: 40px;
    height: 40px;
}

.track__play{
    width: 50px;
    height: 50px;
    padding: 20px;
    background: url("../img/icons/play.png") 0 0 no-repeat;
}

.pause{
    background: url("../img/icons/pause.png") 0 0 no-repeat;
}

.img:hover .track__buttons{
    display: block;
}

.play-track{
    position: absolute;
    bottom: 40px;
    left: 20%;
    z-index: 10;
    background: url("../img/Rectangle.png") 0 0 no-repeat;
}

.play__container{
    padding: 12px 40px 25px 20px;
    display: flex;
    align-items: center;
}

.play__container a {
    margin-left: 15px;
}

.play__image {
    width: 50px;
    height: 50px;
    position: relative;
}

.play__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.play__composition{
    display: flex;
    align-items: center;
    margin-left: 42px;
}

.play__track{
    margin-left: 14px;
}

.play__name{
    font-weight: 100;
    color: #9fb0dd;
    line-height: 20px;
}

.play__add{
    display: flex;
    align-items: center;
}

.play__track{
    color: white;
}

.play__progress{
    margin: 0 20px;
    cursor: pointer;
}

.play__progress-container{
    width: 240px;
    height: 4px;
    position: relative;
}

.play__line{
    width: 240px;
    height: 2px;
    background-color: #9fb0dd;
    position: absolute;
    top: 0;
    left: 0;
}

.play__curr-progress{
    height: 2px;
    background-color: #366EFF;
    position: absolute;
    top: 0;
    left: 0;
}

.current__item{
    color:rgb(187, 191, 240)
}